@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
.dropdown-item{
   color:grey;
}
.pannel{
    color:brown;
}
  
  /* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    background-image: url("authback.png");
    margin-bottom: 0;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  #banner{
   background-image: url("Bearstack.png");

  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
  .carousel slide{
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: auto;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    
  }
  .logo-first{
    color:#010000;
    font-weight: bold;
    font-size: 1.5rem;
  }
.logo-mid{
  color: #8E250F;
  font-weight: bold;
  font-size: 1.5rem;
}
.logo-last{
  color:#807876;
  font-weight: bold;
  font-size: 1.5rem;
}
.best{
    color:#f33c0e;
    font-weight: bold;
    font-size: 3rem;
  }
.special{
    color:#76F969;
    font-weight: bold;
    font-size: 3rem;
  }
.sale{
    color:#F78D16;
    font-weight: bold;
    font-size: 3rem;
  }

#bestseller .container .icon i {
    color: rgb(246, 121, 5);
    font-size: 30px;
}